<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>TD Todo Filtri</title>
    <!-- Collegamento al CSS locale (puoi spostare questo file in src/ui oppure tenerlo in media/webview) -->
    <script type="module" crossorigin src="../../../bundle.js"></script>
    <link rel="stylesheet" crossorigin href="../../../assets/index-CdoIIPvM.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      // Acquisizione dell'API VSCode per la comunicazione
      const vscode = acquireVsCodeApi();
      // Qui potresti salvare lo stato iniziale, se necessario:
      // window.Ast = { ... };
    </script>
    <!-- Carica il file TypeScript di ingresso: Vite lo tratterà come modulo -->
  </body>
</html>